* {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
.kartya{
    display: inline-flex;
}
.fajtak{
    text-align: center;
    margin-top: 25px;
    margin-bottom:25px ;
}
.card{
    margin: 0 2rem 0 2rem;
    background-color: ;
}